<div><%= image_tag 'george.jpg', size: '75', id:"user-avatar" %></div>
<h3><%= user.first_name %> <%= user.last_name %></h3>
<h3><%= user.email %></h3>
<h3 id="user_points"><%= user.points %> points</h3>