<div><%= image_tag 'george.jpg', size: '75', id:"user-avatar" %></div>
<div class="large-3 small-6 columns"><h3><%= user.first_name %> <%= user.last_name %></h3></div>
<div class="large-5 small-6 columns"><h3><%= user.email %></h3></div>
<div class="large-3 columns"><h3><%= user.points %> carrats</h3></div>