<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1 class="show-for-small"><%= link_to(image_tag("carrat_logo.png", size: '50'), :root) %></h1>
        <h1 class="show-for-medium-up"><%= link_to(image_tag("carrat_logo_text.png", size: '120'), :root) %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="active"><%= link_to("Rewards", "/rewards") %></li>
        <li class="active"><%= link_to("Profile", "/") %></li>
        <li class="active"><%= link_to("Log out", "/") %></li>
      </ul>
    </section>
  </nav>
</div>







