<div class="row">
  <div class="row" id="user-summary">
    <%= render partial: "users/user_show", locals: {user: @current_user} %>
  </div>

  <div class="small-12 medium-9 large-8 columns">
    <div class="index-river" id="redeem">
      <h3 id="redeem-title">REDEEM</h3>
      <div class="redeem-item" >
        <%= render partial: "rewards/reward_preview" %>
      </div>
    </div>

    <div class="index-river" id="challenges">
      <h3 id="challenges-title">CHALLENGES</h3>
      <div id="challenges-list">
        <%= render @challenges %>
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 large-4 columns">
    <div class="index-river side-nav" id="notifications">
      <h3 id="notify-trigger">NOTIFICATIONS</h3>
      <div id="new-notification" style="display:none">
        <hr/>
        <div class="notification">
          <h6 id="new-note-title">Completed Target 2x points challenge for 2400 carrats</h6>
          <p id="new-note-time">Today at 5:15 PM</p>
        </div>  
      </div>  
        <%= render partial: "users/notification", collection: @notifications %>
    </div>
    <div class="index-river side-nav" id="trusted-brands">
      <%= render partial: "brands/trusted_brands" %>
    </div>
  </div>
</div>